name: main
on:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo building

  manual-trigger-deploy:
    runs-on: ubuntu-latest
    outputs:
      CONTINUE_JOBS: ${{ steps.manual-trigger.outputs.CONTINUE_JOBS }}
    steps:
      - name: manual-trigger
        id: manual-trigger
        uses: benhamiltonpro/manual-trigger@v1
        with:
          RUN_NAME: "build"
  
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    needs: manual-trigger-deploy
    if: ${{ needs.manual-trigger-deploy.outputs.CONTINUE_JOBS == 'true' }}
    steps:
      - name: Deploy to production
        run: echo deploying
